/* Estilos Gerais */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #333;
  color: #f4f7fa;
  padding: 0;
}

header {
  background: #232323;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #00c6bc;
}

header p {
  margin: 0;
  font-size: 1.2rem;
  color: #f4f7fa;
  opacity: 0.8;
}

/* Container do Editor */
main {
  flex: 1;
}

.editor-container {
  background: #ffffff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  max-width: 1082px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Rodapé */
footer {
  background: #232323;
  color: #f4f7fa;
  text-align: center;
  padding: 1rem;
  font-size: 14px;
}

footer a {
  color: #00c6bc;
  text-decoration: none;
}

footer a:hover {
  color: #028b85;
  text-decoration: none;
}
